.plesq { 
  border-top-width: 75px;
  line-height: 94px;
  padding-left: 36px;
  margin-right: 76px;
  margin-top: 18px;
  border-left-width: 44px;
  padding-top: 63px;
  margin-top: 87px;
  border-top-width: 45px;
}
